<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            * { font-family: Arial, Helvetica, sans-serif; font-size: 20px; }
            .code { font-size: 30px; }
        </style>
    </head>
    <body>
        <p>Hi, enter this code to confirm your email:</p>
        <p>
            <b class="code">{{code}}</b>
        </p>
        <p>
            Your code is valid for 20 minutes and can only be used once. If you
            request a new code, this one will expire immediately.
        </p>
        <p>Best regards, Melodify</p>
    </body>
</html>